{% extends 'base.html' %}

{% block head %}
<title>Rename Task</title>
{% endblock %}


{% block body %}
<div class="content">
    <h1 style="border-color:#ff0;font-size:3vmax;border-width:0.13em">Rename {{task.content}}</h1>
    <br>
    <form action="/rename/{{task.id}}" method="POST">
        <input type="text" style="font-size:1.5vmax;" name="content" id="content" value="{{task.content}}">
        <input type="submit" style="font-size:1.5vmax;" value="Rename Task">
    </form>
</div>


{% endblock %}